header{
  padding: 2rem 6rem;
  background-image: url("/src/assets/Home-Hero-Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  div.account__links{
    display: flex;
    justify-content: flex-end;
    div.login, div.register{
      padding: 0.5rem;
      margin: 0.5rem;
      font-size: 0.8rem;
      :hover{
        border: 1px solid $accent-color;
      }
    }
  }
  nav ul{
    display: flex;
    justify-content: flex-end;
    li{
      padding: 1rem 0.5rem;
      margin: 0.5rem;
      cursor: pointer;
    }
    li:hover{
      border: 1px solid black;
    }
  }
  div.banner{
    margin: 10rem 12rem;
  }
}